@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* -----------------nav bar ------------------------ */
#nav-brand {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* ------------------ auto dark mode --------------- */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
}