@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Righteous&display=swap');

body {
    font-family: 'Montserrat', sans-seri;
}

/* -----------------nav bar ------------------------ */
#nav-brand {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
}

.nav-item {
    font-size: large;
    font-weight: 500;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* ------------------ hero ------------------------- */
#hero img {
    transform: translate(-14px, -5px);
}


/* ------------------ auto dark mode --------------- */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }

    #nav-brand, .navbar-nav li a {
        color: var(--bs-light);
    }

    .active {
        color: '#fff'
    }

}
